
.custom-toolbar {
    background-color: #009688;
    /* Teal */
    color: #f5f5f5;
    /* Light Gray */
    display: flex;
    justify-content: space-between;
}

.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .navigation-bar li {
    margin: 0 10px;
  }
  
  .navigation-bar li a {
    text-decoration: none;
    color: #000;
  }
  