.custom-toolbar {
    background-color: #424242;
    /* Dark Gray */
    color: #ff5722;
    /* Orange */
    display: flex;
    justify-content: space-between;
}

.label {
    display: flex;
}
.align-icon {
    margin: 5px 5px 0 0;
}
